PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
ServerActive=10.10.10.8
Server=10.10.10.8
Hostname={{ ansible_default_ipv4.address }}
UnsafeUserParameters=1

