[client]
#password	= [your_password]
port		= 3306
default-character-set=utf8
socket		= /tmp/mysql.sock
[mysqld]
user = mysql
character-set-server=utf8
#read_only=on
port = 3306
socket = /tmp/mysql.sock
log_output=FILE
slow-query-log = 1
long_query_time = 5
slow_query_log_file = /home/data/mysql/logs/slow.log
datadir = /home/data/mysql/data
back_log = 500
max_connections = 1000
max_connect_errors = 5000
table_open_cache = 2048
max_allowed_packet = 16M
max_heap_table_size = 64M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 4M
join_buffer_size = 4M
thread_cache_size = 64
#thread_concurrency = 8
query_cache_size = 32M
query_cache_limit = 2M
ft_min_word_len = 4
default-storage-engine = INNODB
thread_stack = 192K
transaction_isolation = REPEATABLE-READ
#transaction_isolation=READ-COMMITTED  如果可以使用这种模式，性能更好
tmp_table_size = 64M
skip-name-resolve

server-id = 1
log-bin = /home/data/mysql/logs/binlog/mysql-bin
log-error = /home/data/mysql/logs/error.log
log-slave-updates
binlog_format=mixed
binlog_cache_size = 8M
max_binlog_size = 512M
max_binlog_cache_size= 512M

expire_logs_days=10
#validate_password_policy=0
#sync_binlog=1

# *** MyISAM options ***
key_buffer_size = 32M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
#myisam_recover

 # *** INNODB options ***


#innodb_use_sys_malloc =0
innodb_support_xa=1
#innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 1G
innodb_data_file_path = ibdata1:100M:autoextend
#innodb_data_home_dir = <directory>
#innodb_file_io_threads = 4
#innodb_force_recovery=1
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 2
innodb_fast_shutdown=0
innodb_log_buffer_size = 8M
innodb_log_file_size = 100M
innodb_log_files_in_group = 2
#innodb_log_group_home_dir
innodb_max_dirty_pages_pct = 90
innodb_flush_method=O_DIRECT
innodb_lock_wait_timeout = 120
innodb_file_per_table = 1 
innodb_open_files = 300
innodb_autoextend_increment = 32
innodb_file_format              =Barracuda
innodb_file_format_max      =Barracuda
innodb_strict_mode            =1

[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
#safe-updates
[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M
[mysqlhotcopy]
interactive-timeout
[mysqld_safe]
#open-files-limit = 8192
